html {
    scroll-behavior: smooth;
}

.skip a {
    position: absolute;
    top: -80px;
    left: 20px;
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
    border: 2px solid black;
    background-color: #ddd;
    text-align: center;
    z-index: 1000;
}

.skip a:focus {
    top: 20px;
}

body {
    font-size: 18px;
}

nav {
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: #ddd;
    align-items: center;
    justify-items: center;
}

img.logo {
    display: inline-block;  
    grid-column: 1/2;
    grid-row: 1/5;
    width: 100%;
    
}

nav a{
    font-weight: bold;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
    border: none;
}

nav a[aria-current="page"] {
    border: 2px solid red;
    padding: 5px; 
}

a:focus {
    padding: 5px;
    border: 3px solid black;
    text-decoration: underline;
}

nav ul{
    width: 75vw;
    display: contents;
}

nav ul li {
    grid-column: 2/5;
    text-align: center;
    width: 75vw;
}

h1 {
    background-color: #bbbbbb;
    padding: 10px;
    font-size: 50px;
    text-align: center;
    line-height: 1;
}

h2 {
    background-color: #bbbbbb;
    padding: 10px;
    font-size: 32px;
    text-align: center;
    line-height: 1;
}

h3 {
    background-color: #ddd;
    text-align: center;
    padding: 10px 10px 0px 10px;    
}

head {
    font-family: Arial;
}

body {
    font-family: Arial;
}

p {
    padding: 10px;
    background-color: #ddd;
    font-size: 18px;
    line-height: 1.5;
}

ol {
    background-color: #ddd;
    padding: 10px 10px 10px 30px;
    line-height: 1.5;
}

ul {
    background-color: #ddd;
    padding: 10px 10px 10px 30px;
    line-height: 1.5;     
}

figcaption {
    background-color: #ddd;
    padding: 10px 10px;
}

.img-UHS, .img-backpack, .img-sticky, .img-desk, .img-spring, .img-walk {
    background-color: #ddd;
    width: 100%;
}

footer p{
    background-color: #bbbbbb;    
}

a.body-link {
    display: block;
    padding: 10px 10px 10px 10px;
    background-color: #ddd;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    background-color: navy;
}

section:nth-child(even) {
    grid-column: 2/11;
}

section:nth-child(odd) {
    grid-column: 1/10;
}

figure {
    background-color: #ddd;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
    main.main section {
        grid-column: 1/11;
    }

}

@media screen and (min-width: 1200px) {
    nav {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        background-color: #00274C;
    }
    header {
        position: sticky;
        top: 0px;
    }
    img.logo {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 80%;        
        justify-self: start;
    }
    nav ul {
        grid-column: 2/11;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 95%;
        background-color: #00274C;
    }
    nav ul li {
        text-align: center;
        width: auto;
    }
    nav a{
        display: block;
        font-weight: normal;
        text-decoration: none;
        padding: 0px 0px 0px 0px;
        border: none;
        font-size: 35px;
        color: #FFCB05;
    }    
    nav a[aria-current="page"] {
        display: block;        
        border: 2px solid red;
        padding: 5px; 
    }
    a:focus {
        padding: 0px;
        border: none;
        text-decoration: none;
    }
    h1 {
        background-color: #FFCB05;
        color: #00274C;
        padding: 10px;
        font-size: 95px;
        text-align: center;
        line-height: 1;
        padding: 10px 10px 10px 10px;  
    }
    
    h2 {
        background-color: #FFCB05;
        color: #00274C;
        padding: 10px;
        font-size: 80px;
        text-align: center;
        line-height: 1;
        padding: 10px 10px 10px 10px;  
        margin: 0px;
    }
    
    h3 {
        background-color: #FFCB05;
        color: #00274C;
        text-align: center;
        font-size: 45px;   
        padding: 10px 10px 10px 10px;
        margin: 0px;   
    }
    p, figcaption {
        margin: 0px;
        padding: 10px 10px 10px 10px;
        background-color: white;
        border: 1px solid #00274C;
        color: #00274C;
        font-size: 32px;         
    }
    ol, ul {
        margin: 0px;
        padding: 10px 10px 10px 60px;
        background-color: white;
        color: #00274C;
        font-size: 32px;
        border: 1px solid #00274C;      
    }
    .main {
        background-color: #00274C;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    section:nth-child(even) {
        grid-column: 2/11;
    }
    
    section:nth-child(odd) {
        grid-column: 2/11;
    }
    .img-UHS, .img-backpack, .img-sticky, .img-desk, .img-spring, .img-walk {
        background-color: #00274C;
        width: 100%;
    }
    a.body-link {
        display: block;
        padding: 10px 10px 10px 10px;
        background-color: white;
        font-size: 32px;
    }
    legend {
        font-size: 32px;   
        padding: 10px;     
    }
    form {
        background-color: white;
        color: #00274C;
        font-size: 32px;
        width: 100%;      
    }
    label{
        margin: auto;
        display: inline-block;
        font-size: 32px;
        padding: 10px;
      }
      input{
        margin: auto;
        display: inline-block;
        font-size: 32px;
        padding: 10px;
        border: 1px solid #00274C;
      }
      input[type=checkbox]{
        margin-left: 30px;
        transform: scale(2);
        vertical-align: middle;
    }
    input[type=submit] {
        background-color: #38803C;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        font-size: 32px;
      }
      body.error404 {
        background: url(/client_project_html_w25/images/MCOMMONS-WinterSemester2025-42.jpg);
        background-size: cover;
      }
      .error404 .main h1 {
        font-size: 5rem;       
      }
      .error404 .main p {
        font-size: 5rem;        
      }
}